@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&family=Roboto:wght@300;400;700&display=swap');

*,
button,
*:before, 
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: .25px solid red;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 62.5%;
  font-family: "Poppins", "Roboto", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;    
  justify-content: center;
  justify-content: space-evenly;
  padding: 5em;
  gap: 5em;
}

.container-boards {
  padding: 7em 5em;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  width: 100%;
}
h3 {
  font-size: 1.5rem;
}

.player-instruction {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container-right {
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 2rem;
  padding: 3em;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 15rem;
  gap: 5em;
  padding: 5em;
  width: 80%;
}

/*? + active - hover - disable */
/*! + TO CHANGE CURRENT COLORS !*/
button {
  height: 4rem;
  padding: .7rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;  
  border-radius: 2.5rem;
  border: .2rem #000000 solid;
  box-shadow: inset 0px 0px 40px 0px #fff;
  background: linear-gradient(to bottom, #fd9e10, #FDBE14 11%, #FD8321 34%, #FD3931 60%, #C4273B 84%, #540452 100%);
  }

  button:hover {  
  box-shadow: none;
  background: linear-gradient(to bottom, #FDD610, #FDBE14 11%, #FD8321 34%, #FD3931 60%, #C4273B 84%, #72066e 100%);
  }
  
  button:active {  
  box-shadow: none;
  background: linear-gradient(to bottom, #f7ff88, #b7fd14 11%, #72fd21 34%, #10dd6c 60%, #0ac486 74%, #22a197 100%);
  }

.help-button {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 3rem;
}

.main-supply {  
  display: grid;
  width: fit-content;
  gap: 2em;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.supply-item {
  padding: 1rem;
  height: 7rem;
  width: 7rem;
}

.container-right h2 {
  margin-top: 2em;
  width: fit-content;
}

nav {
  display: flex;  
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  padding: 3em;  
}

nav h2 {
  width: 20%;
}

.aside-container {
  display: flex;  
  flex-direction: column; 
  min-width: 30rem;  
  justify-content: space-between;  
}

.aside-piles {  
  display: flex;  
  flex-direction: column;  
  gap: 2em;
}

.aside-piles h2 {  
  margin-bottom: .75em;
}

.player-inventory {
  display: flex;    
  height: 30rem;  
}

.draw-pile-box,
.discard-pile-box { 
  display: flex;
  flex-direction: column;
  padding: 10em;
  align-items: center;
}

.discard-pile-box .container-card { 
  height: 17.2rem;
  width: 25rem;  
}


.discard {
  width: 250px;
  margin: auto;  
  transform: rotate(270deg);  
}

.draw {
  margin: auto;
}

.container-cards-area {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap:5em;
  /* height: 100%;     */
}

.container-hand-area, 
.container-market-area {
  display: flex;
  flex-direction: column;
  gap: 7em;
}
.container-market-cards {  
  display: flex;    
  gap: 20em;  
  border: 1px rgb(0, 0, 0) ridge;  
  margin-bottom: 3em;
}

.market-pile {
  height: 100%;
  display: flex;  
  padding: 1em;
  flex-direction: column;
}

.pile-inventory {
   display: flex;
   height: 17.5rem;
   background: #00000059;
}

.market-pile.red {  
  background: linear-gradient(to left top, rgba(255, 21, 21, 0.829), rgb(255, 255, 255));
} 
.market-pile.yellow {  
  background: linear-gradient(to left top,  rgba(255, 208, 0, 0.74), rgb(255, 255, 255));
} 
.market-pile.blue {  
  background: linear-gradient(to left top, rgba(60, 238, 199, 0.747), rgb(255, 255, 255));
} 
.market-pile.multi {  
  background: linear-gradient(45deg, rgba(255, 48, 48, 0.719), rgba(255, 0, 0, 0) 70.71%),
  linear-gradient(120deg, rgba(255, 235, 146, 0.692), rgba(255, 230, 0, 0.24) 70.71%),
  linear-gradient(90deg, rgba(0, 255, 200, 0.692), rgba(9, 170, 127, 0.658) 90.71%);
} 

.container-hand-cards {
  display: grid;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  gap: 5em;
  padding: 0em 0em 2em 3em;  
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.container-card {
  width: 17.2rem;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;  
}

.empty {  
  border: tomato .5rem dashed;
  box-shadow: inset 0px 0px 50px 0px tomato;
  border-radius: 15px;
  padding: 1rem;  
}

.in-play {  
  border: .5rem solid greenyellow;
}


h3, h4 {
  height: min-content;
  width: 100%;
}

.card {
  width: 17.5rem;
  height: 35rem;
}

.tooltip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tooltip img {
  display: block;
  margin: 10% auto;
  max-width: 80%;
  max-height: 80%;
}

.grid-container {
  width: 50rem; 
  height: 50rem; 
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.grid-wrapper {
  display: grid;
  border: 1px solid green;
  grid-template-columns: repeat(var(--cols), 1fr);
  width: calc(100% - 60px);
  height: 100%;
}

.grid-square {
  width: 100%;   
  border: 2px blue solid;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* ====== Cards ===== */ 


/* ====== Board Tiles / Squares ===== */ 
/* Terrain: Dirt, Steel Plate, Rocks */
/* Content: Minerals, Artifact, Bomb */ 
/*? Minerals (value): Iron(2), Gold(3), Platinum(5), Emerald(8), Ruby(10), Diamond(12) ?*/
.tunnel-1 {
  background-image: url('./images/tunnel-1.png');
}
.tunnel-2 {
  background-image: url('./images/tunnel-2.png');
}
.tunnel-3 {
  background-image: url('./images/tunnel-3.png');
}
.dirt {
        background-image: url('./images/dirt.jpg');
}
.bdirt {
  background-image: url('./images/bdirt.jpg');
}
.cdirt {
  background-image: url('./images/cdirt.jpg');
}

.dirt-iron {
  background-image: url('./images/dirt-iron.jpg');
}
.bdirt-iron {
  background-image: url('./images/bdirt-iron.jpg');
}
.cdirt-iron {
  background-image: url('./images/cdirt-iron.jpg');
}

.dirt-gold {
  background-image: url('./images/dirt-gold.jpg');
}
.bdirt-gold {
  background-image: url('./images/bdirt-gold.jpg');
}
.cdirt-gold {
  background-image: url('./images/cdirt-gold.jpg');
}

.dirt-platinum {
  background-image: url('./images/dirt-platinum.jpg');
}
.bdirt-platinum {
  background-image: url('./images/bdirt-platinum.jpg');
}
.cdirt-platinum {
  background-image: url('./images/cdirt-platinum.jpg');
}

/* No RUBY, EMERALD, and DIAMOND at LEVELS A , B */ 
.cdirt-ruby {
  background-image: url('./images/cdirt-ruby.jpg');
}
.cdirt-emerald {
  background-image: url('./images/cdirt-emerald.jpg');
}
.cdirt-diamond {
  background-image: url('./images/cdirt-diamond.jpg');
}


/* No BOMB at LEVEL C */
.dirt-bomb {
  background-image: url('./images/dirt-bomb.jpg');
}

.bdirt-bomb {
  background-image: url('./images/bdirt-bomb.jpg');
}

.dirt-artifact {
  background-image: url('./images/dirt-artifact.jpg');
}
.bdirt-artifact {
  background-image: url('./images/bdirt-artifact.jpg');
}
.cdirt-artifact {
  background-image: url('./images/cdirt-artifact.jpg');
}

.dirt-draw1 {
  background-image: url('./images/dirt-draw1.jpg');
}
.bdirt-draw1 {
  background-image: url('./images/bdirt-draw1.jpg');
}
.cdirt-draw1 {
  background-image: url('./images/cdirt-draw1.jpg');
}

.dirt-draw2 {
  background-image: url('./images/dirt-draw2.jpg');
}
.bdirt-draw2 {
  background-image: url('./images/bdirt-draw2.jpg');
}
.cdirt-draw2 {
  background-image: url('./images/cdirt-draw2.jpg');

}

.steelPlate-red {
  background-image: url('./images/steelPlate-red.jpg');
}
.steelPlate-red-iron {
  background-image: url('./images/steelPlate-red-iron.jpg');
}
.steelPlate-red-gold {
    background-image: url('./images/steelPlate-red-gold.jpg');
}
.steelPlate-red-platinum {
    background-image: url('./images/steelPlate-red-platinum.jpg');
}
.steelPlate-red-emerald {
    background-image: url('./images/steelPlate-red-emerald.jpg');
}
.steelPlate-red-diamond {
    background-image: url('./images/steelPlate-red-diamond.jpg');
}
.steelPlate-red-draw1 {
    background-image: url('./images/steelPlate-red-draw1.jpg');
}
.steelPlate-red-draw2 {
    background-image: url('./images/steelPlate-red-draw2.jpg');
}
.steelPlate-red-bomb {
    background-image: url('./images/steelPlate-red.jpg');
}

.steelPlate-yellow {
  background-image: url('./images/steelPlate-yellow.jpg');
}
.steelPlate-yellow-iron {
  background-image: url('./images/steelPlate-yellow-iron.jpg');
}
.steelPlate-yellow-gold  {
  background-image: url('./images/steelPlate-yellow-gold.jpg');
}
.steelPlate-yellow-platinum {
  background-image: url('./images/steelPlate-yellow-platinum.jpg');
}
.steelPlate-yellow-emerald {
  background-image: url('./images/steelPlate-yellow-emerald.jpg');
}
.steelPlate-yellow-diamond {
  background-image: url('./images/steelPlate-yellow-diamond.jpg');
}
.steelPlate-yellow-draw1 {
  background-image: url('./images/steelPlate-yellow-draw1.jpg');
}
.steelPlate-yellow-draw2 {
  background-image: url('./images/steelPlate-yellow-draw2.jpg');
}
.steelPlate-yellow-bomb {
  background-image: url('./images/steelPlate-yellow-bomb.jpg');
}

.steelPlate-blue {
  background-image: url('./images/steelPlate-blue.jpg');
}
.steelPlate-blue-iron {
  background-image: url('./images/steelPlate-blue-iron.jpg');
}
.steelPlate-blue-gold  {
  background-image: url('./images/steelPlate-blue-gold.jpg');
}
.steelPlate-blue-platinum {
  background-image: url('./images/steelPlate-blue-platinum.jpg');
}
.steelPlate-blue-emerald {
  background-image: url('./images/steelPlate-blue-emerald.jpg');
}
.steelPlate-blue-diamond {
  background-image: url('./images/steelPlate-blue-diamond.jpg');
}
.steelPlate-blue-draw1 {
  background-image: url('./images/steelPlate-blue-draw1.jpg');
}
.steelPlate-blue-draw2 {
  background-image: url('./images/steelPlate-blue-draw2.jpg');
}
.steelPlate-blue-bomb {
  background-image: url('./images/steelPlate-blue-bomb.jpg');
}


/* No IRON and RUBY at ROCK */ 

.rock {
  background-image: url('./images/rock.jpg');
}
.rock-gold  {
  background-image: url('./images/rock-gold.jpg');
}
.rock-platinum {
  background-image: url('./images/rock-platinum.jpg');
}
.rock-emerald  {
  background-image: url('./images/rock-emerald.jpg');
}
.rock-diamond {
  background-image: url('./images/rock-diamond.jpg');
}
.rock-draw1 {
  background-image: url('./images/rock-draw1.jpg');
}
.rock-draw2 {
  background-image: url('./images/rock-draw2.jpg');
}
.rock-bomb {
  background-image: url('./images/rock-bomb.jpg');
}

